%li
  %label
    .layer-input
      %input{ type:'checkbox', class: "biomass-refp-input", data: { togglelayer: 'communities' } }
    .layer-legend
      .map-icon.pull-left{ style: 'margin-right: 10px;' }
        .base-cluster{ class: layer }
          %div
            %span &nbsp;
      %h5 AEDG Communities
