%label
  .layer-input
    %input{ type:'checkbox', class: "#{layer}-input", data: { togglelayer: layer } }
  .layer-legend
    %h5 Fish Processors
    .map-icon.pull-left{ style: 'margin-right: 10px;' }
      .base-cluster{ class: layer }
        %div
          %span &nbsp;
    Communities with at least one major fish processor