%label
  .layer-input
    %input{ type:'checkbox', class: "#{layer}-input", data: { togglelayer: layer } }
  .layer-legend
    %h5 Landfills 
    .map-icon
      .base-cluster.pull-left{ class: layer }
        %div
          %span &nbsp;
    Communities with at least one Class I landfill