%label
  .layer-input
    %input{ type:'checkbox', class: "#{layer}-input", data: { togglelayer: layer } }
  .layer-legend
    %h5 Sawmills  
    .map-icon
      .base-cluster{ class: layer }
        %div
          %span &nbsp;
    Communities with at least one sawmill