#layers-accordion.panel-group
  - %w{ Renewable_Energy_Fund_Projects REF_2013_Project_Hightlights Biomass Geothermal Hydroelectric Ocean_and_River_Hydrokinetic Wind_Power Solar }.each do |section|    
    .panel.panel-default
      .panel-heading
        = link_to '#', data: { behavior: 'toggle-tab-layers' }, class: 'pull-left', style: 'margin-right: 10px;' do
          %i.glyphicon.glyphicon-unchecked
        %h5.panel-title{ data: { toggle: "collapse", parent: "#layers-accordion" }, href: "##{section}" }
          %span.glyphicon.glyphicon-folder-close
          = section.gsub('_', ' ')
      .panel-body.layer-group-content.collapse{ id: section }
        = render section.downcase, section: section