%ul.nav
  - %w{ communities biomass heatpumps heat_recovery hydro ocean_river solar_thermal transmission wind }.each do |layer|
    = render "/maps/renewable_energy_projects/#{layer.downcase}", layer: layer
