- %w{ wind_power }.each do |layer|
  %label
    .layer-input
      %input{ type:'checkbox', class: "#{layer}-input", data: { togglelayer: layer } }
    .layer-legend
      %h5
        %b
          (
          %span{ data: { show: layer, property: 'type' }}
          )
        = layer.humanize
        %small{ data: { show: layer, property: 'url' } }