#layers-panel{ data: { 'no-turbolink' => '' } }
  .layers
    = render 'layers'
#map-panel
  #map
    #progress-container

- default_section = 'Renewable_Energy_Fund_Projects'
:javascript
  var map_container;
  
  $(document).on('ready', function() {
    map_container = new Map('map');  
    $('#map').data('map_container', map_container);
    
    $('[href="##{default_section}"]').click();
    $('[href="##{default_section}"]').parents('.panel').find('[data-togglelayer]:not(:checked)').click();
    
    $('[data-show]').each(function(item) {
      var layer = $(this).data('show')
      $(this).append(Layers.defs[layer][$(this).data('property')])
    })
  });
  
  $(document).on('click', '[data-behavior="deselect-all"]', function(e) {
    $('[data-togglelayer]').each(function() {
      if ($(this).is(':checked')) { $(this).click(); }
    })
  });
  
  $(document).on('click', '[data-behavior="toggle-visible"]', function(e) {
    $('[data-togglelayer]:visible').each(function() {
      $(this).click();
    })
  });
  
  $(document).on('click', '[data-behavior="toggle-tab-layers"]', function(e) {
    $(this).parents('.panel').find('[data-togglelayer]').click();    
  });
  
  $(document).on('click', '[data-behavior="show-tab-layers"]', function(e) {
    $(this).parents('.panel').find('[data-togglelayer]:not(:checked)').click();
  });
  
  $(document).on('click', '[data-behavior="hide-tab-layers"]', function(e) {
    $(this).parents('.panel').find('[data-togglelayer]:checked').click();
  });
  
  $(document).on('click', '[data-togglelayer]', function(e) {
    var name = $(this).data('togglelayer');
    var status = Layers.toggle(name, map_container);
    $('.' + name + '-input').prop('checked', status);
    
    var icon = $(this).parents('.panel').find('i.glyphicon');
    
    if($(this).parents('.panel').find('[data-togglelayer]:checked').length > 0) {
      icon.removeClass('glyphicon-unchecked').addClass('glyphicon-check');
    } else {
      icon.removeClass('glyphicon-check').addClass('glyphicon-unchecked');
    }
  });
  
  $(document).on('click', '#layers-accordion [data-toggle="collapse"]', function() {
    var icon = $(this).find('h5 span.glyphicon');
    
    $('#layers-panel .glyphicon-folder-open').addClass('glyphicon-folder-close').removeClass('glyphicon-folder-open')
    
    if (!$(this).hasClass('collapsed')) {
      $(icon).removeClass('glyphicon-folder-close').addClass('glyphicon-folder-open')
    }
  })