%label
  .layer-input
    %input{ type:'checkbox', class: "#{layer}-input", data: { togglelayer: layer } }
  .layer-legend
    %h5= layer.humanize
    %ul.nav
      %li
        .map-icon
          .base-cluster{ class: layer + ' level1' }
            %div
              %span &nbsp;
        &lt; 55&deg; F
      %li
        .map-icon
          .base-cluster{ class: layer + ' level2' }
            %div
              %span &nbsp;
        55-100&deg; F
      %li
        .map-icon
          .base-cluster{ class: layer + ' level3' }
            %div
              %span &nbsp;
        100-200&deg; F
      %li
        .map-icon
          .base-cluster{ class: layer + ' level4' }
            %div
              %span &nbsp;
        200-300&deg; F
      %li
        .map-icon
          .base-cluster{ class: layer + ' level5' }
            %div
              %span &nbsp;
        &gt 300&deg; F        