%label
  .layer-input
    %input{ type:'checkbox', class: "#{layer}-input", data: { togglelayer: layer } }
  .layer-legend
    %h5= layer.humanize
    %ul.nav
      %li
        .map-icon
          .base-cluster.round{ class: layer + ' level1' }
            %div
              %span &nbsp;
        50-220 W/m2
      %li
        .map-icon
          .base-cluster.round{ class: layer + ' level2' }
            %div
              %span &nbsp;
        220-450 W/m2
      %li
        .map-icon
          .base-cluster.round{ class: layer + ' level3' }
            %div
              %span &nbsp;
        600-900 W/m2
      %li
        .map-icon
          .base-cluster.round{ class: layer + ' level4' }
            %div
              %span &nbsp;
        1500-1700 W/m2
