%label
  .layer-input
    %input{ type:'checkbox', class: "#{layer}-input", data: { togglelayer: layer } }
  .layer-legend
    %h5= layer.humanize
    %ul.nav
      %li
        .map-icon
          .base-cluster{ class: layer + ' level1', style: 'display: inline-block; margin-right: 10px;' }
            %div
              %span &nbsp;
        1.3-25 MW
      %li
        .map-icon
          .base-cluster{ class: layer + ' level2', style: 'display: inline-block; margin-right: 10px;' }
            %div
              %span &nbsp;
        25-100 MW
      %li
        .map-icon
          .base-cluster{ class: layer + ' level3', style: 'display: inline-block; margin-right: 10px;' }
            %div
              %span &nbsp;
        100-220 MW