%label
  .layer-input
    %input{ type:'checkbox', class: "#{layer}-input", data: { togglelayer: layer } }
  .layer-legend
    %h5
      %b
        (
        %span{ data: { show: layer, property: 'type' }}
        )
      Wave Power Density
      
      %small{ data: { show: layer, property: 'url' } }
      
    %p.legend-text The Wave Energy Resource Assessment project is a joint venture between NREL, EPRI, and Virginia Tech. EPRI is the prime contractor, Virginia Tech is responsible for development of the models and estimating the wave resource, and NREL serves as an independent validator and also develops the final GIS-based display of the data.