/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require leaflet/leaflet
 *= require markerclusters/dist/MarkerCluster.css 
 *= require markerclusters/dist/MarkerCluster.Default.css 
 *= require bootstrap/dist/css/bootstrap
 *= require_self
 *= require_tree .
 */

html, body { 
  height: 100%;
  padding:0;
  margin:0;
}

#header {
  background-color: #0048A9;
  color: #fff;
  height: 40px;
  margin:0;
  padding: 0 20px;
  border-bottom: 1px solid #00f;
}

#content {
  position: absolute;
  padding:0;
  margin:0;
  top: 40px;
  bottom: 0px;
  width: 100%;
}